<html lang="{{ state.ui.language }}">
<head>
    <title>{{ state.ui.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url.css('/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <style>
        html {
            {% for setting in settings.uiSettings %}
                {% if setting.isNumberSetting %}
                    {{ setting.cssProperty }}: {{ setting.value ~ 'px' }};
                {% else %}
                    {{ setting.cssProperty }}: {{ setting.value }};
                {% endif %}
            {% endfor %}
        }
    </style>
</head>
<body
    {% if settings.get('PAGE_LOAD_ANIMATION') == 'yes' %}
        data-animation-enabled="1"
    {% endif %}
>
