<html lang="{{ state.ui.language }}">
<head>
    <title>{{ state.ui.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url.css('/document.css') }}">
    <link rel="stylesheet" href="{{ url.css('/common.css') }}">

    <style>
        html {
            {% for setting in settings.uiSettings %}
                {{ setting.cssProperty }}: {{ setting.value }};
            {% endfor %}
        }
    </style>
</head>
<body>
