<html lang="{{ state.ui.language }}">
<head>
    <title>{{ state.ui.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.get('FAVICON_URL') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url.css('/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <style>
        html {
            font-size: calc(16px * {{ settings.get('UI_SCALE') }});

            {% for setting in settings.uiSettings %}
                {% if setting.isNumberSetting %}
                    {{ setting.cssProperty }}: {{ setting.value ~ 'px' }};
                {% else %}
                    {{ setting.cssProperty }}: {{ setting.value }};
                {% endif %}
            {% endfor %}
        }

        @media screen and (max-width: {{ settings.get('CONTENT_WIDTH') }}px) {
            html body main, html body header .content, html body footer .content {
                padding: 1rem;
            }
        }
    </style>

    <link rel="stylesheet" href="{{ customizer.customCssFileUrl }}">
    {% if settings.get('EXTRA_CSS_URL') != '' %}
        <link rel="stylesheet" href="{{ settings.get('EXTRA_CSS_URL') }}">
    {% endif %}
</head>
<body
    {% if settings.get('PAGE_LOAD_ANIMATION') == 'yes' %}
        data-animation-enabled="1"
    {% endif %}
    {% if settings.get('HEADER_IMG_FULLSCREEN') == 'no' %}
        data-sticky-header="no"
    {% endif %}
>
