<html lang="{{ state.ui.language }}">
<head>
    <title>{{ state.ui.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url.css('/style.css') }}">

    <style>
        html {
            {% for setting in settings.uiSettings %}
                {{ setting.cssProperty }}: {{ setting.value }};
            {% endfor %}
        }
    </style>
</head>
<body
    {% if settings.get('PAGE_LOAD_ANIMATION') == 'yes' %}
        data-animation-enabled="1"
    {% endif %}
>
