<footer>
    <div id="links" class="content">
        <div id="hyperlinks">
            <span class="copyright">
                &copy; {{ currentYear }} {{ settings.get('APP_NAME') }}
            </span>
            <a href="{{ url.to('/page.php?p=impressum') }}">Impressum - Datenschutz</a>
            <a href="{{ url.to('/page.php?p=contact') }}">Kontakt</a>
        </div>
        <div id="user-actions">
            {% if user is null %}
                <a href="{{ url.to('/auth/login.php') }}">Login</a>
            {% else %}
                {{ user.email }}
                <a href="{{ url.api('/auth/logout.php') }}">Logout</a>
            {% endif %}

            {% if user.isAdmin %}
                <a href="{{ url.to('/admin') }}">Dashboard</a>
            {% endif %}
        </div>
    </div>

    <div id="about-jasper-lichte">
        <div class="content">
            Developed with love by
            <a href="http://wwww.jasper.lichte.info"><strong>Jasper Lichte</strong></a>
        </div>
    </div>
</footer>
