{% if settings.get('SHOW_HEADER') == 'yes' %}
    {% if customizer.customHeaderExists %}
        {{ customizer.customHeader|raw }}
    {% elseif settings.get('HEADER_BANNER_URL') == '' %}
        <header>
            <div class="content">
                <h1><a href="{{ url.to('/') }}">{{ settings.get('APP_NAME') }}</a></h1>
            </div>
        </header>
    {% else %}
        <header
            class="banner-image"
            data-fullscreen="{{ settings.get('HEADER_IMG_FULLSCREEN') }}"
        >
            <div
                class="content"
                data-pos="{{ settings.get('HEADER_IMG_BANNER_POS') }}"
            >
                <a href="{{ url.to('/') }}">
                    <img src="{{ settings.get('HEADER_BANNER_URL') }}" alt="">
                </a>
            </div>
        </header>
    {% endif %}

{% endif %}
